<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Pedido</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1> Administración de Pedidos </h1>
  <hr>
  <h2> Actualizar Pedido</h2>
  <div class="row justify-content-left">
    <div class="col-md-6">
      <form action="#" th:action="@{/pedidos/guardarPedido}"  th:object="${pedido}" method="post" >
        <input type="hidden" th:field="*{id_pedido}">
        <input type="text" th:field="*{plato.descripcion}" placeholder="Plato" class="form-control mb-4 col-4">
        <input type="date" th:field="*{fechaPedido}" placeholder="Fecha de Pedido" class="form-control mb-4 col-4">
        <input type="text" th:field="*{estadoPedido}" placeholder="Estado" class="form-control mb-4 col-4">
        <hr>
        <button type="submit" class="btn btn-info col-2"> Guardar </button>
      </form>
    </div>
  </div>
</div>
</body>
</html>