<div id="nav">
  <ul>
    <li>
      <table>
        <tr>
          <td>
            <img src="http://imgfz.com/i/ftVCAs1.png" id="imgLogo">
          </td>
          <td style="text-align: center; vertical-align: center">
            <label style="color: white; font-weight: bold">Sistema de Mantenimiento Restaurante </label>
          </td>
        </tr>
      </table>
    </li>
    <li><a>Empleados</a></li>
    <li><a>Mesas</a></li>
    <li><a>Pedidos</a></li>
    <li><a th:href="@{/platos/platos}">Platos</a></li>
    <li><a>Proveedores</a></li>
    <li><a>Almacen</a></li>

    <li style="float: right;"><a th:href="@{/acceso/logout}"> <img src="http://imgfz.com/i/nyd9eNg.png" style="width: 25%">  Logout</a></li>
  </ul>
</div>